* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  background-color: #160033;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  /* padding: 0; */
  padding: 20px;
}

.container {
  display: flex;
  background-color: #1c1938;
  width: 900px;
  max-width: 1000px;
  height: 450px;
  border-radius: 10px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  flex: 1;
}
.text-wrapper {
  display: block;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  color: white;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.stat-item h2,
.stat-item h4 {
  margin: 0;
  padding: 0;
}

.stat-item h4 {
  font-size: 12px;
  color: #b1aecf;
}

.photo {
  max-width: 450px;
  height: 450px;
  object-fit: cover;
  filter: grayscale(1) brightness(0.4) sepia(1) hue-rotate(230deg) saturate(4);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
  color: white;
  font-size: 30px;
}

.word {
  color: #a85ed9;
}

p {
  font-size: 15px;
  color: #b1aecf;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
    width: 90%;
    height: auto;
  }

  .left-content {
    padding: 20px 20px;
    text-align: center;
    align-items: center;
  }

  .photo {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .stats {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
  }

  .stat-item {
    align-items: center;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  .stat-item h2 {
    font-size: 25px;
  }

  .stat-item h4 {
    font-size: 15px;
  }
}
